<%= render 'navbar' %>
<h1>Current Prices in USD</h1>
<h3 id='BTC'>Bitcoin</h3>
<h3 id='ETH'>Ethereum</h3>
<h3 id='XRP'>Ripple</h3>
<h3 id='BCH'>Bitcoin Cash</h3>
<h3 id='XEM'>NEM</h3>
<h3 id='LTC'>Litecoin</h3>
<h3 id='GNO'>Gnosis</h3>
<h3 id='EOS'>EOS</h3>
<h3 id='NEO'>NEO</h3>
<h3 id='DASH'>Dash</h3>

<h1>PORTFOLIO HERE</h1>
